<section [ngClass]="isDark ? 'dark:text-white dark:bg-[rgb(15,15,17)]' : 'bg-white text-black'">
    <div>
        <ul class="flex justify-center gap-2 py-2 font-medium sm:gap-5 ">
            <li><a [routerLink]="['/courses/html/htmlintro']">HTML</a></li>
            <li>CSS</li>
            <li>TailwindCSS</li>
            <li>JavaScript</li>
            <li>React</li>
        </ul>
        <hr class="h-[2px] md:hidden" [ngClass]="isDark ? 'bg-white' : 'bg-black'">
    </div>    
</section>

<section class="flex justify-between px-3 lg:hidden">
    <h1>Current Course: HTML</h1>
    <button *ngIf="!menuOpen" (click)="toggleMenu()">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 5.25h16.5m-16.5 4.5h16.5m-16.5 4.5h16.5m-16.5 4.5h16.5" />
        </svg>
    </button>
</section>
<hr class="h-1 bg-black">

<div class="lg:hidden min-w-[100vw] min-h-[100vh]" [ngClass]="isDark ? 'dark:text-white dark:bg-[rgb(35,33,37)]' : 'bg-white text-black'" *ngIf="menuOpen">
    <div class="flex justify-end p-2 mr-5">
        <button (click)="toggleMenu()">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-5">
                <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12" />
            </svg>          
        </button>
    </div>
    <h1 class="pl-3 font-bold">Introduction:</h1>
    <ul>
        <li><a class="py-2 px-5 font-semibold text-purple-500" [routerLink]="['/courses/html/htmlintro']">->HTML Introduction</a></li>
        <li><a class="py-2 px-5 font-semibold text-purple-500" routerLink="">->Page Structure</a></li>
        <li><a class="py-2 px-5 font-semibold text-purple-500" routerLink="">->Basic Tags</a></li>
        <li><a class="py-2 px-5 font-semibold text-purple-500" routerLink="">->Hello World</a></li>
    </ul>
</div>