<section class="flex md:hidden" [ngClass]="isDark ? 'dark:text-white dark:bg-[rgb(15,15,17)]' : 'bg-white text-black'">
    <p class="flex pr-3">Course Menu:</p>
    <button (click)="mest()">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 5.25h16.5m-16.5 4.5h16.5m-16.5 4.5h16.5m-16.5 4.5h16.5" />
        </svg>              
    </button>
</section>
<section class="flex" [ngClass]="isDark ? 'dark:text-white dark:bg-[rgb(15,15,17)]' : 'bg-white text-black'">
    <app-vertnav></app-vertnav>
    <div *ngIf="!ismenuo" class="pl-3 py-3 w-full md:border-l-2" [ngClass]="isDark ? 'border-gray-200' : 'border-black'">
        <h1 class="font-bold sm:text-lg lg:text-xl xl:text-2xl 2xl:text-3xl pt-5 text-purple-500">Anchor Tag</h1>
        <p class="px-3 2xl:text-lg">
            Links are fundamental to navigating the web. In HTML, links are created using the 'a' tag, also known as the Anchor tag.
        </p>
        <h2 class="font-medium lg:text-lg xl:text-xl 2xl:text-2xl pt-3">Syntax of a tag</h2>
        <div class="2xl:text-lg" [ngClass]="isDark ? 'dark:text-white dark:bg-gray-800' : 'bg-gray-300 text-black'" class="mx-5 my-3 relative">
            <pre class="p-5 pl-0 sm:pl-5">{{ code1 }}</pre>
            <button [cdkCopyToClipboard]="code1" class="absolute top-0 right-0 p-5 bg-black text-white">Copy</button>
        </div>
        <h1 class="font-bold sm:text-lg lg:text-xl xl:text-2xl 2xl:text-3xl pt-5 text-purple-500">Essential Attributes of the Anchor Tag</h1>
        <p class="px-3 2xl:text-lg">
            HTML links primarily use two attributes.
        </p>
        <ul class="list-disc px-8 2xl:text-lg">
            <li><b>href attribute: </b>Defines the URL the link points to.</li>
            <li><b>target attribute: </b>Specifies where to open the linked document.</li>
        </ul>
        <h2 class="font-medium lg:text-lg xl:text-xl 2xl:text-2xl pt-3">Target Attribute Values</h2>
        <ul class="list-disc px-8 2xl:text-lg">
            <li><b>_blank: </b>Opens the linked document in a new window or tab.</li>
            <li><b>_top: </b>Opens document in the full body of the window.</li>
            <li><b>_self: </b>Opens document in the same window or tab (default behavior).</li>
            <li><b>_parent: </b>Opens the linked document in the parent frame.</li>
        </ul>
        <h2 class="font-medium lg:text-lg xl:text-xl 2xl:text-2xl pt-3">Linking to Specific Page Sections</h2>
        <p class="px-3 2xl:text-lg">
            To link to a specific section of a webpage, you can
        </p>
        <ul class="list-disc px-8 2xl:text-lg">
            <li>Use the name or id attribute of the target section.</li>
            <li>Use a hyperlink with a hash (#) followed by the target id or name.</li>
        </ul>
        <p class="px-3 2xl:text-lg">
            Example<br>
            Let's say you have a long webpage with multiple sections, and you want to create a link at the top that, when clicked, 
            takes the user directly to a specific section further down the page. You can do this using HTML links that target specific sections.
        </p>
        <div class="2xl:text-lg" [ngClass]="isDark ? 'dark:text-white dark:bg-gray-800' : 'bg-gray-300 text-black'" class="mx-5 my-3 relative">
            <pre class="p-5 pl-0 sm:pl-5">{{ code2 }}</pre>
            <button [cdkCopyToClipboard]="code2" class="absolute top-0 right-0 p-5 bg-black text-white">Copy</button>
        </div>
        <p class="px-3 2xl:text-lg">
            Inside that p tag add a large amount of content so that you need to scroll down to see the second section. 
            After that come to the top of the page and click on the link now you could see that it automaticaly scrolls down to the second section. 
            This is how we will navigate through a single page.
        </p>
        <h2 class="font-medium lg:text-lg xl:text-xl 2xl:text-2xl pt-3">Link Colors</h2>
        <p class="px-3 2xl:text-lg">
            Links typically appear in different colors based on their state:
        </p>
        <ul class="list-disc px-8 2xl:text-lg">
            <li><b>Active: </b><ins class="text-red-600">Displayed in red and underlined like this sentence</ins></li>
            <li><b>Visited: </b><ins class="text-purple-600">Appears purple and underlined like this sentence</ins></li>
            <li><b>Unvisited: </b><ins class="text-blue-600">Shown as blue and underlined like this sentence</ins></li>
        </ul>
        <p class="px-3 2xl:text-lg">
            You can customize these colors using CSS to better match the style of your website.
        </p>
        <div class="flex justify-between mx-5 my-10">
            <a [routerLink]="['/courses/html/brtag']">
                <button class="flex p-2" [ngClass]="isDark ? 'text-black bg-purple-500' : 'bg-gray-800 text-white'">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 19.5 8.25 12l7.5-7.5" />
                    </svg>
                    Previous
                </button>
            </a>
            <a [routerLink]="['/courses/html/imagetag']">
                <button class="flex p-2" [ngClass]="isDark ? 'text-black bg-purple-500' : 'bg-gray-800 text-white'">
                    Next
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                        <path stroke-linecap="round" stroke-linejoin="round" d="m8.25 4.5 7.5 7.5-7.5 7.5" />
                    </svg>                  
                </button>
            </a>
        </div>
    </div>
</section>