<section class="flex md:hidden" [ngClass]="isDark ? 'dark:text-white dark:bg-[rgb(15,15,17)]' : 'bg-white text-black'">
    <p class="flex pr-3">Course Menu:</p>
    <button (click)="mest()">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 5.25h16.5m-16.5 4.5h16.5m-16.5 4.5h16.5m-16.5 4.5h16.5" />
        </svg>              
    </button>
</section>
<section class="flex" [ngClass]="isDark ? 'dark:text-white dark:bg-[rgb(15,15,17)]' : 'bg-white text-black'">
    <app-vertnav></app-vertnav>
    <div *ngIf="!ismenuo" class="pl-3 py-3 w-full md:border-l-2" [ngClass]="isDark ? 'border-gray-200' : 'border-black'">
        <h1 class="font-bold sm:text-lg lg:text-xl xl:text-2xl 2xl:text-3xl pt-5 text-purple-500">Horizontal Line Tag</h1>
        <p class="px-3 2xl:text-lg">
            To add a horizontal line in your HTML document, the hr tag comes in handy.
        </p>
        <h2 class="font-medium lg:text-lg xl:text-xl 2xl:text-2xl pt-3">How to use the hr tag?</h2>
        <p class="px-3 2xl:text-lg">
            The syntax of the hr tag looks something like this.
        </p>
        <div class="2xl:text-lg" [ngClass]="isDark ? 'dark:text-white dark:bg-gray-800' : 'bg-gray-300 text-black'" class="mx-5 my-3 relative">
            <pre class="p-5 pl-0 sm:pl-5">{{ code1 }}</pre>
            <button [cdkCopyToClipboard]="code1" class="absolute top-0 right-0 p-5 bg-black text-white">Copy</button>
        </div>
        <p class="px-3 2xl:text-lg">
            The hr tag is an empty or self-closing tag, meaning it doesn't require a closing tag. 
            It serves as a visual separator, dividing different sections of your document with a horizontal line.<br>
            Example:
        </p>
        <div class="2xl:text-lg" [ngClass]="isDark ? 'dark:text-white dark:bg-gray-800' : 'bg-gray-300 text-black'" class="mx-5 my-3 relative">
            <pre class="p-5 pl-0 sm:pl-5">{{ code2 }}</pre>
            <button [cdkCopyToClipboard]="code2" class="absolute top-0 right-0 p-5 bg-black text-white">Copy</button>
        </div>
        <div class="lg:flex px-3 lg:gap-5 mt-4">
            <img src="images/HTML/hrcode.png">
            <span class="lg:hidden">output:</span>
            <img src="images/HTML/hroutput.png">
        </div>
        <div class="flex justify-between mx-5 my-10">
            <a [routerLink]="['/courses/html/htmlparagraphtag']">
                <button class="flex p-2" [ngClass]="isDark ? 'text-black bg-purple-500' : 'bg-gray-800 text-white'">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 19.5 8.25 12l7.5-7.5" />
                    </svg>
                    Previous
                </button>
            </a>
            <a [routerLink]="['/courses/html/brtag']">
                <button class="flex p-2" [ngClass]="isDark ? 'text-black bg-purple-500' : 'bg-gray-800 text-white'">
                    Next
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                        <path stroke-linecap="round" stroke-linejoin="round" d="m8.25 4.5 7.5 7.5-7.5 7.5" />
                    </svg>                  
                </button>
            </a>
        </div>
    </div>
</section>