<section [ngClass]="isDark ? 'dark:text-white dark:bg-[rgb(15,15,17)]' : 'bg-white text-black'">
    <h1 class="flex justify-center font-bold text-2xl p-10">ABOUT US:</h1>
    <div class="grid grid-cols-1 md:grid-cols-2">
        <div class="hidden md:inline-block">
            <img src="images/about us.png" class="w-[50vw] mx-auto lg:w-[35vw]">
        </div>
        <p class="font-medium text-lg px-5 sm:px-8 md:px-9 xl:px-10 2xl:px-12 m-auto xl:text-2xl">
            Welcome to our online learning platform, created by a self-taught web developer passionate about sharing knowledge in a simple and accessible way.
             Our platform offers a variety of text-based courses focused on web development, designed to help learners avoid common mistakes and build a strong foundation.
        </p>

        <p class="font-medium text-lg pt-10 px-5 sm:px-8 md:px-9 xl:px-10 2xl:px-12 m-auto xl:text-2xl">
            We currently provide basic web development courses, with plans to expand our offerings to include more advanced web development and
             mobile development courses in the future. Our goal is to make learning flexible and engaging through comprehensive text content.
        </p>
        <div class="hidden md:inline-block pt-10">
            <img src="images/Goal.png" class="w-[35vw] m-auto lg:w-[25vw]">
        </div>

        <div class="hidden md:inline-block py-10">
            <img src="images/plans.png" class="w-[35vw] m-auto lg:w-[25vw]">
        </div>
        <p class="font-medium text-lg pt-10 px-5 sm:px-8 md:px-9 xl:px-10 2xl:px-12 m-auto xl:text-2xl">
            We currently provide basic web development courses, with plans to expand our offerings to include more advanced web development and
             mobile development courses in the future. Our goal is to make learning flexible and engaging through comprehensive text content.
        </p>
    </div>
</section>