<section class="flex md:hidden" [ngClass]="isDark ? 'dark:text-white dark:bg-[rgb(15,15,17)]' : 'bg-white text-black'">
    <p class="flex pr-3">Course Menu:</p>
    <button (click)="mest()">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 5.25h16.5m-16.5 4.5h16.5m-16.5 4.5h16.5m-16.5 4.5h16.5" />
        </svg>              
    </button>
</section>
<section class="flex" [ngClass]="isDark ? 'dark:text-white dark:bg-[rgb(15,15,17)]' : 'bg-white text-black'">
    <app-vertnav></app-vertnav>
    <div *ngIf="!ismenuo" class="pl-3 py-3 w-full border-l-2" [ngClass]="isDark ? 'border-gray-200' : 'border-black'">
        <h1 class="font-bold sm:text-lg lg:text-xl xl:text-2xl 2xl:text-3xl pt-5 text-purple-500">HTML Attributes</h1>
        <p class="px-3 2xl:text-lg">
            HTML attributes provide additional information about HTML elements. 
            They are placed within the element's opening tag and consist of two parts: the name and the value.
        </p>
        <ul class="list-disc px-8 2xl:text-lg">
            <li><b>Name: </b>Specifies the property for that element.</li>
            <li><b>Value: </b>Sets the value of that property for the element.</li>
        </ul>
        <h1 class="font-bold sm:text-lg lg:text-xl xl:text-2xl 2xl:text-3xl pt-5 text-purple-500">The href Attribute</h1>
        <p class="px-5 2xl:text-lg">
            The < a> tag defines a hyperlink. For now Understand that the < a> tag is called the anchor tag and it is used to navigate to other pages. 
            The href attribute specifies the URL of the page the link goes to:
        </p>
        <div class="2xl:text-lg" [ngClass]="isDark ? 'dark:text-white dark:bg-gray-800' : 'bg-gray-300 text-black'" class="mx-5 relative">
            <pre class="p-5">{{ code1 }}</pre>
            <button [cdkCopyToClipboard]="code1" class="absolute top-0 right-0 p-5 bg-black text-white">Copy</button>
        </div>
        <h1 class="font-bold sm:text-lg lg:text-xl xl:text-2xl 2xl:text-3xl pt-5 text-purple-500">The src Attribute</h1>
        <p class="px-5 2xl:text-lg">
            The < img> tag is used to embed an image in an HTML page. The src attribute specifies the path to the image to be displayed:
        </p>
        <div class="2xl:text-lg" [ngClass]="isDark ? 'dark:text-white dark:bg-gray-800' : 'bg-gray-300 text-black'" class="mx-5 relative">
            <pre class="p-5">{{ code2 }}</pre>
            <button [cdkCopyToClipboard]="code2" class="absolute top-0 right-0 p-5 bg-black text-white">Copy</button>
        </div>
        <h2 class="font-medium lg:text-lg xl:text-xl 2xl:text-2xl pt-3">There are two ways to specify the URL in the src attribute:</h2>
        <p class="px-5 2xl:text-lg">
            <b>1. Absolute URL </b>- Links to an external image that is hosted on another website. Example: src="https://www.randomimg.com/images".<br>
            <b>2. Relative URL </b>- Links to an image that is hosted within the website. 
            Here, the URL does not include the domain name and the images is also hosted along with the page.
        </p>
        <p class="px-5 2xl:text-lg">
            <b class="text-purple-500">TIPS:</b>It is almost always best to use relative URLs. They will not break if you change domain.
        </p>
        <h1 class="font-bold sm:text-lg lg:text-xl xl:text-2xl 2xl:text-3xl pt-5 text-purple-500">The width and height Attributes</h1>
        <p class="px-5 2xl:text-lg">
            The < img> tag should also contain the width and height attributes, which specify the width and height of the image (in pixels):
        </p>
        <div class="2xl:text-lg" [ngClass]="isDark ? 'dark:text-white dark:bg-gray-800' : 'bg-gray-300 text-black'" class="mx-5 relative">
            <pre class="p-5">{{ code3 }}</pre>
            <button [cdkCopyToClipboard]="code3" class="absolute top-0 right-0 p-5 bg-black text-white">Copy</button>
        </div>
        <p class="px-5 2xl:text-lg">
            The first img code that we wrote for the <a class="text-blue-600">src arrtibute</a> will return the image with its full size and if the image is bigger
            than the browser it will create a scroolbar to load the image. IF we mention the heigth and width of the image then it will load the image into that particular size
            and the size of the image will not exceed the given size.
        </p>
        <h1 class="font-bold sm:text-lg lg:text-xl xl:text-2xl 2xl:text-3xl pt-5 text-purple-500">The alt Attribute</h1>
        <p class="px-5 2xl:text-lg">
            The required alt attribute for the < img > tag specifies an alternate text for an image, if the image for some reason cannot be displayed.
            This can be due to a slow connection, or an error in the src attribute, or if the user uses a screen reader.
        </p>

    </div>
</section>