<header class="p-5" [ngClass]="isDark ? 'dark:text-white dark:bg-[rgb(15,15,17)]' : 'bg-white text-black'">
    <div class="flex justify-between">
        <h1 class="font-bold text-xl">Learn with me</h1>
        <span class="flex gap-5">
            <ul class="gap-5 font-medium text-lg hidden md:flex">
                <li><a [routerLink]="['']">Home</a></li>
                <li><a [routerLink]="['about']">About</a></li>
                <li><a [routerLink]="['courses']">Courses</a></li>
            </ul>
            <button (click)="changeTheme()">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M21.752 15.002A9.72 9.72 0 0 1 18 15.75c-5.385 0-9.75-4.365-9.75-9.75 0-1.33.266-2.597.748-3.752A9.753 9.753 0 0 0 3 11.25C3 16.635 7.365 21 12.75 21a9.753 9.753 0 0 0 9.002-5.998Z" />
                </svg>              
            </button>
            <button (click)="toggleMenu()" class="md:hidden">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 5.25h16.5m-16.5 4.5h16.5m-16.5 4.5h16.5m-16.5 4.5h16.5" />
                </svg>                  
            </button>
        </span>
    </div>
    @if (menuOpen) {
        <div class="md:hidden">
            <ul class="font-medium text-lg mt-3">
                <li class="p-2"><a [routerLink]="['']">Home</a></li>
                <li class="p-2"><a [routerLink]="['about']">About</a></li>
                <li class="p-2"><a [routerLink]="['courses']">Courses</a></li>
            </ul>
        </div>
    }
</header>
<hr class="h-[0.5vh] bg-white blur-2xl">
<hr class="h-2" [ngClass]="isDark ? 'hidden' : 'bg-black'">
<section [ngClass]="!menuOpen ? 'inline-block' : 'hidden'"  [ngClass]="isDark ? 'dark:text-white dark:bg-[rgb(15,15,17)]' : 'bg-white text-black'">
    <div>
        <ul class="flex justify-center gap-2 py-2 font-medium sm:gap-5 ">
            <li><a [routerLink]="['/courses/html/htmlintro']">HTML</a></li>
            <li>CSS</li>
            <li>TailwindCSS</li>
            <li>JavaScript</li>
            <li>React</li>
        </ul>
    </div>
</section>
<hr class="h-2" [ngClass]="isDark ? 'hidden' : 'bg-black'">
<hr class="h-[0.5vh] bg-white blur-2xl">
<router-outlet></router-outlet>
